.App {
  font-family: sans-serif;
  text-align: left;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pc {
  margin-left: 20%;
}

.chartpane {
  padding: 50px;
}

canvas {
  padding: 20px;
}

div.t {
  float: left;
}

div.ticker {
  float: right;
}
